<div id='messages-container'></div>

<aside class="profile-sidebar">
    {{generateImageFromSource user.identiconHash}}
    <h3> @{{user.username}} </h3>
    <p> Level {{level}} </p>
    <p style="margin: 0; text-align: left; margin-left: 29px;"> Exp. ({{experience}} / {{experienceNext}}) </p>
    <progress max="{{experienceNext}}" value="{{experience}}"> </progress>
    <hr />
    <label for="multiplayer-script" style="margin-bottom: 5px; display: block;"> Multiplayer script </label>
    <select name="multiplayer-script" id="multiplayer-script-list" style="width: 80%; float: left;">
        <option value="0"> None </option>
        {{#each scripts}}
        <option value="{{_id}}" {{{compareStrings _id ../selectedScript}}}> {{name}}</option>
        {{/each}}
    </select>
    <button class="btn-small" onclick="submitSelection()">
        <span class="fa fa-save"></span>
    </button>
</aside>

<section class="padded section-full-size profile-section">
    <h3>Statistics</h3>
    <hr />
    <ul style="list-style-type: none">
        <li> <span class="fas fa fa-play" style="padding: 10px;"></span> Games played: {{gamesPlayed}} </li>
        <li> <span class="fas fa fa-trophy" style="padding: 10px;"></span>Games won: {{gamesWon}} ({{{getPercent
            gamesWon gamesPlayed}}} %)</li>
    </ul>

    <h3>Achievements</h3>
    <hr />

    <!-- One -->
    <div class="achievement-item">
        <span class="fa fa-question achievement-icon icon-bg-blue"></span>
        <div class="achievement-text">
            <h4>What is this? </h4>
            <p> Play one multiplayer match </p>
        </div>
        <div class="achievement-date"> 2018/12/20</div>
        <div style="clear: left;"></div>
    </div>

    <div class="achievement-item">
        <span class="fa fa-robot achievement-icon icon-bg-crimson"></span>
        <div class="achievement-text">
            <h4> Sharpshooter </h4>
            <p> Win 10 multiplayer games </p>
        </div>
        <div class="achievement-date"> 2018/12/20</div>
        <div style="clear: left;"></div>
    </div>

    <p> </p>
    <a style="margin-top: 10px; color: #313131; text-decoration: none;" href="#"> View all achievements </a>
</section>

<script src="/static/js/ui/notifier.js"></script>
<script src="/static/js/ui/selectMultiplayerScript.js"></script>